::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.App {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.startButton {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.openButton {
  padding: 20px;
  width: 96%;
  max-width: 350px;
  margin: auto;
  color: white;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid #0000;
  cursor: pointer;
  transition: 0.4s;
  background-color: var(--main-color);
}

@media (hover: hover) {
  .openButton:hover {
    background-color: #ebebeb;
    border-color: var(--main-color);
    color: #000;
  }
}

/*fade in css animation*/
.fade-in {
  animation: fadeIn ease 0.8s;
  -webkit-animation: fadeIn ease 0.8s;
  -moz-animation: fadeIn ease 0.8s;
  -o-animation: fadeIn ease 0.8s;
  -ms-animation: fadeIn ease 0.8s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
