.toeSVG {
    width: 70%;
}

.toe {
    cursor: pointer;
    transition: .4s;
}

.toe:focus {
    fill: #ffffff00;
}

@media only screen and (max-width: 1025px) {
    .toeSVG {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .toeSVG {
        width: 100%;
    }
}